.layouthead{
    background: white;
    margin: 0;
    top: 0;
    position: sticky;
    z-index: 300;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layouthome{
    margin-left: 1%;
    color: greenyellow;
    background: none;
    border: none;
    cursor: pointer;
}

.layoutlogout{
    margin-right: 1%;
    padding: 10px;
    color: white;
    background: greenyellow;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    border-radius: 30px;
}